<div class="row ml-0 mr-0">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">详情 </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row ml-0 mr-0">
  <div class="col-md-4 bookimg-box">

    <ng-container *ngIf="book.img; else elseTemplate">
      <img class="card-img-top" src="{{book.img}}" alt="Card image cap">
    </ng-container>
    <ng-template #elseTemplate>
      <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_168ae57a5c4%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_168ae57a5c4%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
    </ng-template>

  </div>

  <div class="col-md-8 detail-box">
    <h3>
      {{book.title}}
      <ng-container *ngIf="marked; else star">
        <i class="fas fa-star btn btn-light" (click)="unmark()"></i>
      </ng-container>
      <ng-template #star>
        <i class="far fa-star btn btn-light" (click)="mark()"></i>
      </ng-template>
    </h3>


    <ul>
      <li>作者: {{book.author}}</li>
      <li>出版社: {{book.pree}}</li>
      <li>ISBN: {{book.isbn}}</li>
      <li>定价: {{book.price}}</li>
      <li>出版日期: {{book.month}}</li>
      <li>页数: {{book.page}}</li>
    </ul>

    <ul>
      <li>发布人: {{book.user_email}}</li>
      <li>是否可换:

        <ng-container *ngIf="book.available; else elseTemplate">
          <span class="text-success">可以交换</span>
        </ng-container>
        <ng-template #elseTemplate>
          <span class="text-danger">已被交换</span>
        </ng-template>


      </li>
      <li>新旧程度: {{book.quality}}</li>
      <li>购书日期: {{book.boughtdate}}</li>
      <li>需求: {{book.category_name}}</li>
    </ul>

    <ng-container *ngIf="condition; else conditiont">
      <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-danger btn-lg">
        我想交换
      </button>
    </ng-container>
    <ng-template #conditiont>
      <button type="button" disabled class="btn btn-danger btn-lg">
        不构成交换条件
      </button>
    </ng-template>

  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">交换书籍</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label>选择你要交换的书籍</label>
            <select formControlName="b" class="form-control">
              <option *ngFor="let item of mybook" value="{{item.id}}">{{item.title}} - {{item.author}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="post()" class="btn btn-primary">发起交换</button>
      </div>
    </div>
  </div>
</div>