<div class="row ml-0 mr-0">
  <div class="col-md-12 search-bar">
    <h1>图书置换平台</h1>
    <div class="search-bar-internal">
      <input class="input-search" type="text" name="" placeholder="书名、作者、出版社">
      <a class="btn btn-search">搜 索</a>
    </div>
    <h2>您已经感兴趣0本书</h2>
  </div>
</div>

<div class="row ml-0 mr-0">
  <div class="col-md-12 category-bar">
    <ul class="category-nav">
      <li><b><a href="#">全部分类</a></b></li>
      <li><a href="#">首页</a></li>
      <li><a href="#">分类</a></li>
    </ul>
  </div>
</div>

<div class="row ml-0 mr-0">

  <div class="common-bar ml-0 mr-0">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>