<nav class="navbar navbar-gray bg-light bg-gray">
  😀 您好，欢迎光临
  <span class="nav-right">

    <ng-container *ngIf="email; else elseTemplate">
      <a [routerLink]="[ '' ]">{{email}}</a>| <a href="/post/">发布图书</a>| <a href="/orders/">我的订单</a> | <a href="/admin/books/booksinfo/">我的图书</a>
      |
      <a href="/admin/books/address/">我的地址</a> |
      <a (click)="logout()">logout</a> | <a href="#">帮助</a>
    </ng-container>
    <ng-template #elseTemplate>
      <a href="/login">登录</a> | <a href="/register">注册</a> | <a href="#">帮助</a>
    </ng-template>

  </span>
</nav>

<div class="row ml-0 mr-0">
  <div class="col-md-12 search-bar">
    <h1>{{title}}</h1>
    <form [formGroup]="formGroup">
      <div class="search-bar-internal">
        <input class="input-search" formControlName="search" type="text" name="" placeholder="书名、作者、出版社">
        <a (click)="search()" class="btn btn-search">搜 索</a>
      </div>
    </form>
    <h2> <a href="/admin/books/markedbook/"> <span *ngIf="count">您已经感兴趣{{count}}本书</span></a></h2>
  </div>
</div>

<div class="row ml-0 mr-0">
  <div class="col-md-12 category-bar">
    <ul class="category-nav">
      <li><b><a href="#">全部分类</a></b></li>
      <li><a href="#">首页</a></li>
      <li><a href="#">分类</a></li>
    </ul>
  </div>
</div>

<div class="row ml-0 mr-0">

  <div class="common-bar ml-0 mr-0">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>